@charset "utf-8";
/*
   New Perspectives on HTML5, CSS3, and JavaScript 6th Edition
   Tutorial 12
   Case Problem 4

   Gridirony Layout Style Sheet

   Filename: sports_donors.css
   
*/

/* HTML and Body Styles */

html {
   background: linear-gradient(to top, rgb(74, 111, 117), black);
   font-family: Arial, Helvetica, sans-serif;
   font-size: 14px;
}

body {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;   
   background: rgb(226, 226, 226);
   max-width: 980px;
   min-width: 420px;
   margin: 30px auto;
   border: 5px solid rgba(112, 199, 214, 0.5);
   border-radius: 3px;
}

/* Masthead and header text styles */

div.grid_12 h1 {
   display: block;
   border: none;
   background: linear-gradient(to right, black, rgb(48, 195, 206));
   width: 100%;
   margin-bottom: 5px;
}

div.grid_12 header h1 {
   color: white;
   font: bold 6.0em serif;
   padding-top: 15px;
   text-align: left;
}

h1 > a:link, h1 > a:visited {
   color: white;
   text-decoration: none;
}

h1 > a:hover,  h1 > a:active {
   color: white;
   text-decoration: none;
}


/* Horizontal Nav List Style */ 

nav.tabs li {
   background-color: black;
   border: 1px solid black;
   display: block;
   float: left;
   width: 11.11%;
   padding: 5px 0px 5px;
   font-size: 0.79em;
   margin-bottom: 10px;
}

nav.tabs a {
   display: block;
   text-align: center;   
   background-color: rgb(211, 211, 211);
   font-family: Georgia, serif;
   font-size: 1.0em;
   line-height: 1.5em;
   text-align: center;
}

nav.tabs a:hover {
   background: linear-gradient(to left, rgb(226, 226, 226), rgb(112, 199, 214));
   color: white;
}

nav.tabs li > a:link, nav.tabs li > a:visited {
   color: black;
   text-decoration: none;
}

nav.tabs li > a:hover,  nav.tabs li > a:active {
   color: black;
   text-decoration: none;
}


/* Donation Summary Styles */


div#donationSummary table {
   font-size: 1.5em;
   border-collapse: collapse;
   color:black;
   margin: 0px 25px 0px;   
}

div#donationSummary table th, div#donationSummary table td  {
   padding: 5px;
   vertical-align: top;
   border: 1px solid black;
}

div#donationSummary table th  {
   font-weight: normal;
   text-align: center;
   background: rgba(112, 199, 214, 0.5);
   
}

div#donationSummary table td  {
   text-align: right;
}


/* Donor Table Styles */

div#donorTable table {
   font-size: 0.875em;
   border-collapse: collapse;
   color:black;
   margin: 10px 0px 30px;
}  

div#donorTable table caption {
   font-size: 2.5em;
   letter-spacing: 0.12em;
   font-weight: bold;
   background: linear-gradient(to left, rgb(226, 226, 226), rgb(112, 199, 214));
   padding: 15px 0px 15px;  
   font: bold 3.0em;
   text-align: center;
   margin-bottom: 5px;
   border: 2px solid black;
   border-radius: 15px;
   border-top-right-radius: 0px;
   border-bottom-left-radius: 0px; 
}

div#donorTable table th {
   background-color: rgba(100, 100, 98, 0.65);
   color: white;
   font-weight: normal;
   font-size: 1.3em;
   padding: 5px 6px;
}

div#donorTable table tr:nth-of-type(odd) {
   background-color: rgba(112, 199, 214, 0.5);
}

div#donorTable th, div#donorTable td {
   padding: 2px 6px 2px;
   border: 2.5px solid black;
   vertical-align: top;
}

/* Donor Info section */


section#donorInfo {
   margin: 10px;
}

section#donorInfo h1 {
   font-size: 1.15em;
   font-weight: bold;
   background: linear-gradient(to left, rgb(226, 226, 226), rgb(112, 199, 214));
   padding: 10px 0px 10px;  
   font: bold 3.0em;
   text-align: center;
   margin-bottom: 15px;
   border: 2px solid black;
}

/* Donor form styles*/

form#donorForm label {
   margin: 5px;
   width: 240px;
   font-size: 0.95em;
   color: black;
}

form#donorForm input {
   text-align: left;
   padding-right: 25px;
   margin: 5px;
   width: 200px;
}

form#donorForm input[type=submit] {
   width: 160px;
   background: rgb(112, 199, 214);
   color: black;
   text-align: center;
   padding: 10px 10px;
   margin: 5px 40px;
   border: 2px solid black;
   border-radius: 15px;
   cursor: pointer;
}


form#donorForm input[type=submit]:hover {
   background-color: rgba(0, 13, 200, 0.8);
   color: white;
}


fieldset legend {
   text-align: center;
   font: bold 1.45em
}

fieldset {
   margin: 15px 0px 35px;
   padding-top: 8px;
   border-right: 5px solid black;
   border-bottom: none;
   border-left: 5px solid black;
   border-top: none;
   border-radius: 15px;
   border-top-right-radius: 0px;
   border-bottom-left-radius: 0px;   
}



/* Aside Styles */

aside span {
   display: block;
   width: 100px;
   float: left;
   margin: 3px 0px 3px 5px;
   font-size: 1.0em;
   color: black;
}

aside#donorAside table {
   margin: 0px 25px 45px;   
   padding: 10px;
   border-right: none;
   border-bottom: 5px solid black;
   border-left: none;
   border-top: 5px solid black;
   border-radius: 15px;
   border-top-right-radius: 0px;
   border-bottom-left-radius: 0px;  
   font-size: 0.95em;
   color: black;
   position: relative;
}


aside#donorAside table caption {
   font: bold 1.2em sans-serif;
   text-align: center;
   margin: 5px 0px 15px 0px;
   color: black;
   background: linear-gradient(to left, rgb(226, 226, 226), rgb(112, 199, 214));
   padding: 10px 0px 10px;  
   border: 2px solid black;
}

aside#donorAside table th {
   font-weight: normal;
   text-align: left;
   font-size: 1.2em;
   color: black;
   padding-top: 10px;
   padding-right: 15px;
}

aside#donorAside table td {
   position: relative;
   font-size: 1vw;
   letter-spacing: 0.1em;
   width: 100%;
   padding-top: 10px;
   color: black;
}


/* Footer */

footer {
   width: 100%;
   background-color: black;
   display: block;
   overflow: hidden;
}


div#follow > article img {
   display: block;
   width: 35%;
   margin: 0px 10px 10px;
}

nav.foot {
   width: 220px;
   text-align: center;
   float: left;
}


/* Validation Styles */

input:focus {
   background-color: rgb(250, 250, 66);
}

input#fnBox:focus:valid,
input#lnBox:focus:valid,
input#emailBox:focus:valid,
input#phoneBox:focus:valid {
   background-color: rgb(153, 250, 153);
}

input#fnBox:focus:invalid,
input#lnBox:focus:invalid,
input#emailBox:focus:invalid,
input#phoneBox:focus:invalid {
   background-color: rgb(240, 186, 186);
}


/* Footer text */

footer {
   background: linear-gradient(to right, black, rgb(48, 195, 206))
}

footer > h1 {
   color: white;
   font: bold 3.0em serif;
   padding-top: 5px;
   text-align: left;
}

h1 > a:link, h1 > a:visited {
   color: white;
   text-decoration: none;
}

h1 > a:hover,  h1 > a:active {
   color: white;
   text-decoration: none;
}

footer p {
   color: white;
   font: 1.0em Georgia, serif;
   text-align: left;
}

footer p > a:link, footer p > a:visited {
   color: white;
   text-decoration: none;
}

footer p > a:hover,  footer p > a:active {
   color: white;
   text-decoration: none;
}

div#follow > a:link, div#follow > a:visited {
   color: black;
   text-decoration: none;
}

div#follow > a:hover, div#follow > a:active {
   color: white;
   text-decoration: none;
}

div#follow p {
   line-height: 2.5em;
}


nav.foot p {
   color: white;
   font: 1.0em Georgia, serif;
   line-height: 2.0em;
}

nav.foot > a:link, nav.foot > a:visited {
   color: black;
   text-decoration: none;
}

nav.foot > a:hover,  nav.foot > a:active {
   color: gray;
   text-decoration: none;
}



