@charset "utf-8";
/*
   New Perspectives on HTML5, CSS3, and JavaScript 6th Edition
   Tutorial 12
   Case Problem 4

   Gridirony Layout Style Sheet

   Filename: sports_donors.css
   
*/

/* HTML and Body Styles */

html {
   background: linear-gradient(to top, rgb(112, 211, 214), black);
   font-family: Arial, Helvetica, sans-serif;
   font-size: 14px;
}

body {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;   
   background: rgb(226, 226, 226);
   -webkit-align-items: center;
   align-items: center;
   max-width: 980px;
   min-width: 420px;
   margin: 30px auto;
   border: 5px solid rgba(48, 195, 206, 0.5);
   border-radius: 3px;
}

/* Masthead and header text styles */

div.container {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap; 
}


div.grid_12 h1 {
   display: block;
   border: none;
   background: linear-gradient(to right, black, rgb(48, 195, 206));
   width: 100%;
   margin-bottom: 5px;
}


div.grid_12 header h1 {
   width: 100%;
   color: white;
   font: bold 6.0em serif;
   padding-top: 15px;
   text-align: left;
}

h1 > a:link, h1 > a:visited {
   color: white;
   text-decoration: none;
}

h1 > a:hover,  h1 > a:active {
   color: white;
   text-decoration: none;
}


/* Nav List and Text Style */ 

nav.tabs li {
   background-color: black;
   border: 1px solid black;
   display: block;
   float: left;
   width: 12.5%;
   padding: 5px 0px 5px;
   font-size: 0.79em;
   margin-bottom: 10px;
}

nav.tabs a {
   display: block;
   text-align: center;   
   background-color: rgb(211, 211, 211);
   font-family: Georgia, serif;
   font-size: 1.0em;
   line-height: 1.5em;
}

nav.tabs a:hover {
   background: linear-gradient(to left, rgb(226, 226, 226), rgb(48, 195, 206));
   color: white;
}

nav.tabs li > a:link, nav.tabs li > a:visited {
   color: black;
   text-decoration: none;
}

nav.tabs li > a:hover,  nav.tabs li > a:active {
   color: black;
   text-decoration: none;
}


/* Payment form section */


section#payment {
   width: 600px; 
   padding: 5px 10px 10px 20px;
   margin: 10px auto; 
}

section h1 {
   font-size: 1.15em;
   font-weight: bold;
   background: linear-gradient(to left, rgb(226, 226, 226), rgb(48, 195, 206));
   padding: 10px 0px 10px;  
   font: bold 3.0em;
   text-align: center;
   margin-bottom: 15px;
   border: 2px solid black;
}

section span {
   display: block;
   width: 100px;
   float: left;
   margin: 3px 0px 3px 5px;
   font-size: 0.8em;
   color: black;
}

fieldset#cardType {
   border: none;
}

fieldset#creditcard {
   margin: 15px 0px 35px;
   padding-top: 8px;
   border-right: 5px solid black;
   border-bottom: none;
   border-left: 5px solid black;
   border-top: none;
   border-radius: 15px;
   border-top-right-radius: 0px;
   border-bottom-left-radius: 0px;    
}


section input, section select {
   display: block;
   float: left;
   margin: 3px 0px;
   width: 200px;
   color: black;
}

section select {
   font-size: 0.75em;
   color: black;
}


section legend {
   text-align: center;
   margin-bottom: 15px;
}

section label {
   display: block;
   float: left;
   clear: left;
   width: 240px;
   color: black;
   border: none;
}

section label.cardLabel {
   display: inline-block;
   margin: 4px;
   width: 100px;
   float: none;
}

section select#months {
   display: block;
   float: left;
   margin: 3px 15px 5px 0px;
   width: 55px;
   color: rgb(101, 101, 101);
}

section select#years {
   display: block;
   float: left;
   margin: 3px 0px;
   width: 55px;
   color: rgb(101, 101, 101);
}


section input[type="radio"] {
   width: 20px;
   display: inline-block;
}



img src {
   display: inline-block;
   border: none;
}

input[type="submit"] {
   width: 150px;
   height: 30px;
   float: none;
   clear: left;
   display: block;
   font-size: 1.1em;
   background: rgb(112, 199, 214);
   color: black;
   margin: 10px auto;
   border: 2px solid black;
   border-radius: 15px;
   cursor: pointer;
}

form#credit input[type=submit]:hover {
   background-color: rgba(0, 13, 200, 0.8);
   color: white;
}



/* Aside style */

aside {
   -webkit-flex: 2 1 200px;
   flex: 2 1 200px;
   padding: 0px 20px;
   width: 100%;
}

aside#donor2info table {
   width: auto;   
   margin: 20px auto;   
   padding: 10px;
   border-right: none;
   border-bottom: 5px solid black;
   border-left: none;
   border-top: 5px solid black;
   border-radius: 15px;
   border-top-right-radius: 0px;
   border-bottom-left-radius: 0px;  
   font-size: 0.95em;
   color: black;
}



aside#donor2info table caption {
   font-size: 1.2em;
   font-weight: normal;
   text-align: center;
   letter-spacing: 0.1em;
   margin: 4px 0px 12px 0px;
   caption-side: top;
   color: black;
}

aside#donor2info span {
   display: block;
   width: 100px;
   float: left;
   margin: 3px 0px 3px 5px;
   font-size: 0.8em;
   color: black;
}

aside#ddonor2info table th {
   vertical-align: top;
   font-weight: normal;
   text-align: left;
   font-size: 0.8em;
   color: black;
   padding-top: 10px;
   padding-right: 15px;
}

aside#donor2info table td {
   display: block;
   vertical-align: top;
   text-align: left;
   font-size: 0.8em;
   letter-spacing: 0.1em;
   width: 140px;
   padding-top: 10px;
   color: black;
}



/* Validation Styles */

input:focus {
   background-color: rgb(250, 250, 66);
}

input#fnBox:focus:valid,
input#lnBox:focus:valid,
input#emailBox:focus:valid,
input#phoneBox:focus:valid {
   background-color: rgb(153, 250, 153);
}

input#fnBox:focus:invalid,
input#lnBox:focus:invalid,
input#emailBox:focus:invalid,
input#phoneBox:focus:invalid {
   background-color: rgb(240, 186, 186);
}


/* Footer */

footer {
   width: 100%;
   background-color: black;
   display: block;
   overflow: hidden;
}


div#follow > article img {
   display: block;
   width: 35%;
   margin: 0px 10px 10px;
}

nav.foot {
   width: 220px;
   text-align: center;
   float: left;
}




/* Footer text */

footer {
   background: linear-gradient(to right, black, rgb(48, 195, 206))
}

footer > h3 {
   color: white;
   font: bold 3.0em serif;
   padding-top: 5px;
   text-align: left;
}

h3 > a:link, h3 > a:visited {
   color: white;
   text-decoration: none;
}

h3 > a:hover,  h3 > a:active {
   color: white;
   text-decoration: none;
}

footer p {
   color: white;
   font: 1.0em Georgia, serif;
   text-align: left;
}

footer p > a:link, footer p > a:visited {
   color: white;
   text-decoration: none;
}

footer p > a:hover,  footer p > a:active {
   color: white;
   text-decoration: none;
}

div#follow > a:link, div#follow > a:visited {
   color: black;
   text-decoration: none;
}

div#follow > a:hover, div#follow > a:active {
   color: white;
   text-decoration: none;
}

div#follow p {
   line-height: 2.5em;
}


nav.foot p {
   color: white;
   font: 1.0em Georgia, serif;
   line-height: 2.0em;
}

nav.foot > a:link, nav.foot > a:visited {
   color: black;
   text-decoration: none;
}

nav.foot > a:hover,  nav.foot > a:active {
   color: gray;
   text-decoration: none;
}



