@charset "utf-8";

/* 
   Filename: vn_sports_home.css

   Author:  Vincent Nguyen
   Date:    June 9, 2021

*/

/* Media styles */

/*  ==================
    Mobile Styles 0px to 480px
    ================== */

    @media only screen and (max-width: 480px) {

    }
    
    /*  ==================
        Tablet Styles 481px +
        ================== */
    
    @media only screen and (min-width: 481px) {
    
    }
    
    /*  ==================
        Desktop Styles 796px +
        ================== */
    
    @media only screen and (min-width: 796px) {
    
    }
    
    html {
       background: linear-gradient(to top, rgb(112, 211, 214), black);
       font-family: Arial, Helvetica, sans-serif;
       font-size: 14px;
    }
    
    body {
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       flex-flow: row wrap;   
       background: rgb(226, 226, 226);
       -webkit-align-items: center;
       align-items: center;
       width: 980px;
       margin-top: 30px;
       margin-bottom: 30xp;
       margin-left: auto;
       margin-right: auto;
       border: 5px solid rgba(48, 195, 206, 0.5);
       border-radius: 3px;
    }
    
    /* Masthead and header text styles */
    
    div.container {
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       flex-flow: row wrap; 
    }
    
    
    div.grid_12 h1 {
       display: block;
       border: none;
       background: linear-gradient(to right, black, rgb(48, 195, 206));
       width: 100%;
       margin-bottom: 5px;
    }
    
    
    div.grid_12 header h1 {
       width: 100%;
       color: white;
       font: bold 6.0em serif;
       padding-top: 15px;
       text-align: left;
    }
    
    h1 > a:link, h1 > a:visited {
       color: white;
       text-decoration: none;
    }
    
    h1 > a:hover,  h1 > a:active {
       color: white;
       text-decoration: none;
    }
    
    
    /* Nav List and Text Style */ 
    
    nav.tabs li {
       background-color: black;
       border: 1px solid black;
       display: block;
       float: left;
       width: 12.5%;
       padding: 5px 0px 5px;
       font-size: 0.9em;
       margin-bottom: 10px;
    }
    
    nav.tabs a {
       display: block;
       text-align: center;   
       background-color: rgb(211, 211, 211);
       font-family: Georgia, serif;
       font-size: 1.0em;
       line-height: 1.5em;
    }
    
    nav.tabs a:hover {
       background: linear-gradient(to left, rgb(226, 226, 226), rgb(48, 195, 206));
       color: white;
    }
    
    nav.tabs li > a:link, nav.tabs li > a:visited {
       color: black;
       text-decoration: none;
    }
    
    nav.tabs li > a:hover,  nav.tabs li > a:active {
       color: black;
       text-decoration: none;
    }
    
    /* Paragraph style */
   
    section {
        display: inline-block;
        position: relative;
        clear: left;
        width: 100%;
        margin: 15px 0px 25px 25px;
        border: 5px solid rgba(48, 195, 206, 0.5);
    }

    article p {
      font-family: Georgia, serif;
      font-size: 1.5em;
      line-height: 1.5em;
      margin-top: 10px;
      vertical-align: top;
      text-align: center;
    }

   /* Input to return to home page */

   input[type=submit] {
      width: 150px;
      height: 30px;
      display: block;
      font-size: 1.1em;
      background: rgb(112, 199, 214);
      color: black;
      margin: 25px 55px;
      border: 2px solid black;
      border-radius: 5px;
      cursor: pointer;
   }
   
   input[type=submit]:hover {
      background-color: rgba(0, 13, 200, 0.6);
      color: white;
   }
   
    
    /* Aside styles */

    aside {
      -webkit-flex: 2 1 200px;
      flex: 2 1 200px;
      width: 100%;
   }   
   
   
   aside#donor2info span {
      display: block;
      width: 230px;
      float: left;
      margin: 5px 0px 5px;
      font-size: 14px;
      color: black;
   }
   
   aside#donor2info table {
      width: 280px;   
      margin: 12px auto;   
      padding: 10px;
      border-right: none;
      border-bottom: 5px solid black;
      border-left: none;
      border-top: 5px solid black;
      border-radius: 15px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 0px;  
      color: black;
   }
   
   aside#donor2info table caption {
      font-size: bold 1.5em sans-serif;
      text-align: center;
      letter-spacing: 0.1em;
      margin: 4px 0px 12px 0px;
      color: black;
      background: linear-gradient(to left, rgb(226, 226, 226), rgb(112, 199, 214));
      padding: 10px 0px 10px;  
      border: 2px solid black;
   }
   
   aside#ddonor2info table th {
      display: block;
      float: left;
      font: 1.0em sans-serif;
      text-align: left;
      color: black;
      padding-top: 10px;
      padding-right: 10px;
   }
   
   aside#donor2info table td {
      display: block;
      float: left;
      position: relative;
      height: 30px;
      text-align: center;
      font-size: 11px;
      letter-spacing: 0.1em;
      color: black;
      background-color: rgba(112, 199, 214, 0.3);
   }
    
    
    /* Footer */
    
    footer {
       width: 100%;
       background-color: black;
       display: block;
       overflow: hidden;
    }
    
    
    div#follow > article img {
       display: block;
       width: 35%;
       margin: 0px 10px 10px;
    }
    
    nav.foot {
       width: 220px;
       text-align: center;
       float: left;
    }
    
    
    
    
    /* Footer text */
    
    footer {
       background: linear-gradient(to right, black, rgb(48, 195, 206));
       margin-top: 25px;
    }
    
    footer > h3 {
       color: white;
       font: bold 3.0em serif;
       padding-top: 5px;
       text-align: left;
    }
    
    h3 > a:link, h3 > a:visited {
       color: white;
       text-decoration: none;
    }
    
    h3 > a:hover,  h3 > a:active {
       color: white;
       text-decoration: none;
    }
    
    footer p {
       color: white;
       font: 1.0em Georgia, serif;
       text-align: left;
    }
    
    footer p > a:link, footer p > a:visited {
       color: white;
       text-decoration: none;
    }
    
    footer p > a:hover,  footer p > a:active {
       color: white;
       text-decoration: none;
    }
    
    div#follow > a:link, div#follow > a:visited {
       color: black;
       text-decoration: none;
    }
    
    div#follow > a:hover, div#follow > a:active {
       color: white;
       text-decoration: none;
    }
    
    div#follow p {
       line-height: 2.5em;
    }
    
    
    nav.foot p {
       color: white;
       font: 1.0em Georgia, serif;
       line-height: 2.0em;
    }
    
    nav.foot > a:link, nav.foot > a:visited {
       color: black;
       text-decoration: none;
    }
    
    nav.foot > a:hover,  nav.foot > a:active {
       color: gray;
       text-decoration: none;
    }
    
    
    
    