@charset "utf-8";

/*  The Unrecruited
    Author: Vincent Nguyen
    Date:   November 30, 2020

    Filename: vn_sports_home.css

*/

/* Media styles */

/*  ==================
    Mobile Styles 0px to 480px
    ================== */

    @media only screen and (max-width: 480px) {

    }
    
    /*  ==================
        Tablet Styles 481px +
        ================== */
    
    @media only screen and (min-width: 481px) {
    
    }
    
    /*  ==================
        Desktop Styles 796px +
        ================== */
    
    @media only screen and (min-width: 796px) {
    
    }
    
    html {
       background: linear-gradient(to top, rgb(112, 211, 214), black);
       font-family: Arial, Helvetica, sans-serif;
       font-size: 14px;
    }
    
    body {
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       flex-flow: row wrap;   
       background: rgb(226, 226, 226);
       -webkit-align-items: center;
       align-items: center;
       max-width: 980px;
       min-width: 420px;
       margin: 30px auto;
       border: 5px solid rgba(48, 195, 206, 0.5);
       border-radius: 3px;
    }
    
    /* Masthead and header text styles */
    
    div.container {
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       flex-flow: row wrap; 
    }
    
    
    div.grid_12 h1 {
       display: block;
       border: none;
       background: linear-gradient(to right, black, rgb(48, 195, 206));
       width: 100%;
       margin-bottom: 5px;
    }
    
    
    div.grid_12 header h1 {
       width: 100%;
       color: white;
       font: bold 6.0em serif;
       padding-top: 15px;
       text-align: left;
    }
    
    h1 > a:link, h1 > a:visited {
       color: white;
       text-decoration: none;
    }
    
    h1 > a:hover,  h1 > a:active {
       color: white;
       text-decoration: none;
    }
    
    
    /* Nav List and Text Style */ 
    
    nav.tabs li {
       background-color: black;
       border: 1px solid black;
       display: block;
       float: left;
       width: 12.5%;
       padding: 5px 0px 5px;
       font-size: 0.79em;
       margin-bottom: 10px;
    }
    
    nav.tabs a {
       display: block;
       text-align: center;   
       background-color: rgb(211, 211, 211);
       font-family: Georgia, serif;
       font-size: 1.0em;
       line-height: 1.5em;
    }
    
    nav.tabs a:hover {
       background: linear-gradient(to left, rgb(226, 226, 226), rgb(48, 195, 206));
       color: white;
    }
    
    nav.tabs li > a:link, nav.tabs li > a:visited {
       color: black;
       text-decoration: none;
    }
    
    nav.tabs li > a:hover,  nav.tabs li > a:active {
       color: black;
       text-decoration: none;
    }
    
    /* Paragraph style */
   
    article p {
        display: inline-block;
        position: relative;
        width: 100%;
        font-family: Georgia, serif;
        font-size: 1.5em;
        line-height: 1.25em;
        vertical-align: top;
        text-align: center;
        margin-top: 25px;
        padding-right: 35px;
    }
    
    /* Aside style */
    
    aside {
       -webkit-flex: 2 1 200px;
       flex: 2 1 200px;
       padding: 0px 20px;
       width: 100%;
    }
    
    aside#donor2info table {
       width: auto;   
       margin: 25px auto;   
       padding: 10px;
       border-right: none;
       border-bottom: 5px solid black;
       border-left: none;
       border-top: 5px solid black;
       border-radius: 15px;
       border-top-right-radius: 0px;
       border-bottom-left-radius: 0px;  
       font-size: 0.95em;
       color: black;
    }
    
    
    
    aside#donor2info table caption {
       font-size: 1.2em;
       font-weight: normal;
       text-align: center;
       letter-spacing: 0.1em;
       margin: 4px 0px 12px 0px;
       caption-side: top;
       color: black;
    }
    
    aside#donor2info span {
       display: block;
       width: 100px;
       float: left;
       margin: 3px 0px 3px 5px;
       font-size: 0.8em;
       color: black;
    }
    
    aside#ddonor2info table th {
       vertical-align: top;
       font-weight: normal;
       text-align: left;
       font-size: 0.8em;
       color: black;
       padding-top: 10px;
       padding-right: 15px;
    }
    
    aside#donor2info table td {
       display: block;
       vertical-align: top;
       text-align: left;
       font-size: 0.8em;
       letter-spacing: 0.1em;
       width: 140px;
       padding-top: 10px;
       color: black;
    }
    
    
    
    /* Footer */
    
    footer {
       width: 100%;
       background-color: black;
       display: block;
       overflow: hidden;
    }
    
    
    div#follow > article img {
       display: block;
       width: 35%;
       margin: 0px 10px 10px;
    }
    
    nav.foot {
       width: 220px;
       text-align: center;
       float: left;
    }
    
    
    
    
    /* Footer text */
    
    footer {
       background: linear-gradient(to right, black, rgb(48, 195, 206));
       margin-top: 25px;
    }
    
    footer > h3 {
       color: white;
       font: bold 3.0em serif;
       padding-top: 5px;
       text-align: left;
    }
    
    h3 > a:link, h3 > a:visited {
       color: white;
       text-decoration: none;
    }
    
    h3 > a:hover,  h3 > a:active {
       color: white;
       text-decoration: none;
    }
    
    footer p {
       color: white;
       font: 1.0em Georgia, serif;
       text-align: left;
    }
    
    footer p > a:link, footer p > a:visited {
       color: white;
       text-decoration: none;
    }
    
    footer p > a:hover,  footer p > a:active {
       color: white;
       text-decoration: none;
    }
    
    div#follow > a:link, div#follow > a:visited {
       color: black;
       text-decoration: none;
    }
    
    div#follow > a:hover, div#follow > a:active {
       color: white;
       text-decoration: none;
    }
    
    div#follow p {
       line-height: 2.5em;
    }
    
    
    nav.foot p {
       color: white;
       font: 1.0em Georgia, serif;
       line-height: 2.0em;
    }
    
    nav.foot > a:link, nav.foot > a:visited {
       color: black;
       text-decoration: none;
    }
    
    nav.foot > a:hover,  nav.foot > a:active {
       color: gray;
       text-decoration: none;
    }
    
    
    
    