@charset "utf-8";

/*  The Unrecruited
    Author: Vincent Nguyen
    Date:   November 30, 2020

    Filename: vn_sports_home.css

*/

/* Media styles */

/*  ==================
    Mobile Styles 0px to 480px
    ================== */

    @media only screen and (max-width: 480px) {

    }
    
    /*  ==================
        Tablet Styles 481px +
        ================== */
    
    @media only screen and (min-width: 481px) {
    
    }
    
    /*  ==================
        Desktop Styles 796px +
        ================== */
    
    @media only screen and (min-width: 796px) {
    
    }


/* HTML and Body style */

html {
    background: linear-gradient(to top, rgb(74, 111, 117), black);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
 }

body {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap; 
    margin-top: 30px;
    margin-bottom: 30xp;
    margin-left: auto;
    margin-right: auto;
    width: 980px;
    background: rgb(226, 226, 226);
    border: 5px solid rgba(112, 199, 214, 0.5);
    border-radius: 3px;
}

/* Masthead style */

div.grid_12 h1 {
    display: block;
    border: none;
    background: linear-gradient(to right, black, rgb(48, 195, 206));
    width: 100%;
    margin-bottom: 5px;
}

div.grid_12 header h1 {
    color: white;
    font: bold 6.0em serif;
    padding-top: 15px;
    text-align: left;
}


/* Horizontal Nav List Style */ 

nav.tabs li {
    background-color: black;
    border: 1px solid black;
    display: block;
    float: left;
    width: 12.5%;
    padding: 5px 0px 5px;
    font-size: 0.9em;
    margin-bottom: 10px;
 }
 
 nav.tabs a {
    display: block;
    text-align: center;   
    background-color: rgb(211, 211, 211);
    font-family: Georgia, serif;
    font-size: 1.0em;
    line-height: 1.5em;
    text-align: center;
 }
 
 nav.tabs a:hover {
    background: linear-gradient(to left, rgb(226, 226, 226), rgb(112, 199, 214));
    color: white;
 }
 
 nav.tabs li > a:link, nav.tabs li > a:visited {
    color: black;
    text-decoration: none;
 }
 
 nav.tabs li > a:hover,  nav.tabs li > a:active {
    color: black;
    text-decoration: none;
 }

/* Img styles */

img {
    display: block;
    height: auto;
    width: 100%;
}

a img > a:link, a img > a:visited {
    color: black;
    text-decoration: none;
}

a img > a:hover, a img > a:active {
    color: black;
    text-decoration: none;
}

/* Masthead and header text styles */


div.grid_9 h2 {
    color: black;
    background: linear-gradient(to left, rgb(226, 226, 226), rgb(112, 199, 214));
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.0em;
    text-align: center;
    line-height: 1.5em;
    padding-top: 2px;
    padding-left: 5px;
    margin-bottom: 15px;
}

section#pro h2 {
    background: linear-gradient(to left, rgb(226, 226, 226), rgb(112, 199, 214));
    font-size: 1.5em;
    text-align: center;
    padding: 5px;
} 


/* Pro section layout */

section#pro {
    display: block;
    float: right;
    position: relative;
}

section#pro img {
    display: block;
    width: 195px;
    margin: 10px;
    position: relative;
    border-style: solid;
    float: left;
}

section#pro h2 {
    border: 4px solid black;
}

section#pro aside {
    margin-top: 8px;
    margin-bottom: 10px;
    padding-bottom: 3.0px;
    border: 2px solid black;
}

/* Professional text and layout styles */

div.profeat {
    font: bold 0.85em Georgia, serif;
    text-align: center;
    letter-spacing: 1px;
    display: block;
    width: 100%;
    position: relative;
    margin: 1px;
}

div.profeat > a:link, div.profeat > a:visited {
    color: black;
    text-decoration: none;
}

/* Main feature text and styles */

section#main {
    float: left;
    position: relative;
}

div#feature {
    margin-bottom: 15px;
    border: 5px solid black;
}

div#side img {
    display: block;
    width: 100%;
    position: relative;
    border-style: solid;
}

div#side {
    width: 220px;
    background-color: transparent;
}

div#side p {
    display: block;
    margin-top: 7px;
}

div#side1 img {
    display: block;
    width: 100%;
    position: relative;
    border-style: solid;
}

div#side1 {
    width: 220px;
    margin-top: 15px;
    background-color: transparent;
}

div#side1 p {
    display: block;
    margin-top: 7px;
}

/* Main div styles and text */


div#feature article {
    color: black;
    background-color: transparent;
    text-align: center;
    font: bold 3.0em Georgia, serif;
}

div#feature p.sub {
    font-size: 1.5em;
    letter-spacing: 1px;
    text-align: center;
    font-family: 'Palatino Linotype', 'Book Antiqua', 'Palatino', serif;
    padding: 5px;
    margin: 5px;
}

div#feature article > a:link, div#feature article > a:visited {
    color: black;
    text-decoration: none;
}


div#feature article a {
    text-decoration: none;
}

/* Main div side bar text and styles */ 

div#side article {
    color: black;
    text-align: center;
    line-height: 1.5em;
    font: bold 1.0em Georgia, serif;
}

div#side > article > p {
    color: rgb(107, 107, 107);
    font-size: 0.75em;
}

div#side1 > article > p {
    color: rgb(107, 107, 107);
    font-size: 0.75em;
}

div#side article > a:link, div#side article > a:visited {
    color: black;
    text-decoration: none;
}


div#side1 article {
    color: black;
    text-align: center;
    line-height: 1.5em;
    font: bold 1.0em Georgia, serif;
}

div#side1 article > a:link, div#side1 article > a:visited {
    color: black;
    text-decoration: none;
}


/* College text and style layout */

div.grid_3 h3 {
    border: 4px solid black;
    background: linear-gradient(to left, rgb(226, 226, 226), rgb(112, 199, 214));;
    margin-bottom: 5px;
    font-size: 1.25em;
    padding: 5px;
    text-align: center;
}

section#colbar aside {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid black;
}

div.college {
    display: block;
    margin-bottom: 10px;
}

div.college p {
    margin: 11px;
    font: bold 0.85em Georgia, serif;
    text-align: center;
}

div.college img {
    display: block;
    width: 195px;
    margin: 15px 10px 10px;
    border: 1px solid black;
}


div.college article > a:link, div.college article > a:visited {
    color: black;
    text-decoration: none;
}

div.college article > a:hover,  div.college article > a:active {
    color: gray;
    text-decoration: none;
}

/* Extra reads text and layout */

div.grid_6 h3 {
    background: linear-gradient(to left, white, rgb(48, 195, 206));
    padding: 5px;
    margin-bottom: 5px;
    color: black;
    font-size: 1.5em;
}

div#read {
    display: block;
    width: 460px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 2px solid black;
    overflow: hidden;
}

div#read > a > p {
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 10px;
    float: both;
    color: black;
    font: bold 1.0em Georgia, serif;
    text-align: center;
    letter-spacing: 1.0px;
}

div#read > p {
    width: 160px;
    float: left;
    padding-bottom: 5px;
    color: rgb(87, 87, 87);
    font:  1.1em Georgia, serif;
    text-align: left;

}

div#read img {
    display: block;
    border: 2px solid black;
    width: 260px;
    float: left;
    margin: 0 25px 15px 10px;
}


div#read p  > a:link, div#read p  > a:visited {
    color: black;
    text-decoration: none;
}

div#read p  > a:hover,  div#read p  > a:active {
    color: gray;
    text-decoration: none;
}

/* Footer style and text */

section#foot div.grid_12 {
    background: linear-gradient(to right, black, rgb(48, 195, 206))
 }

footer  h1 {
    color: white;
    font: bold 3.0em serif;
    padding-top: 5px;
    text-align: left;
}

h1 > a:link, h1 > a:visited {
    color: white;
    text-decoration: none;
}

h1 > a:hover,  h1 > a:active {
    color: white;
    text-decoration: none;
}

footer p {
    color: white;
    font: 1.0em Georgia, serif;
    text-align: left;
}

footer p > a:link, footer p > a:visited {
    color: white;
    text-decoration: none;
}

footer p > a:hover,  footer p > a:active {
    color: white;
    text-decoration: none;
}

div#follow > a:link, div#follow > a:visited {
    color: black;
    text-decoration: none;
}

div#follow > a:hover, div#follow > a:active {
    color: white;
    text-decoration: none;
}

div#follow p {
    line-height: 2.5em;
}


nav.foot p {
    color: white;
    font: 1.0em Georgia, serif;
    line-height: 2.0em;
}

nav.foot > a:link, nav.foot > a:visited {
    color: black;
    text-decoration: none;
}

nav.foot > a:hover,  nav.foot > a:active {
    color: gray;
    text-decoration: none;
}


div#follow > article img {
    display: block;
    width: 35%;
    margin: 0px 10px 10px;
}

nav.foot {
    width: 220px;
    text-align: center;
    float: left;
}