@charset "utf-8";

/*  The Unrecruited
    Author: Vincent Nguyen
    Date:   November 30, 2020

    Filename: vn_sports_text.css
*/





/* Feature and sidebar text styles */


/* Professional text styles */

div.profeat {
    font: bold 0.85em Georgia, serif;
    text-align: center;
    letter-spacing: 1px;
}

div.profeat > a:link, div.profeat > a:visited {
    color: black;
    text-decoration: none;
}

div.profeat > a:hover,  div.profeat > a:active {
    color: gray;
    text-decoration: none;
}




/* Footer text */

footer > h1 {
    color: white;
    font: bold 3.0em serif;
    padding-top: 5px;
    text-align: left;
}

h1 > a:link, h1 > a:visited {
    color: white;
    text-decoration: none;
}

h1 > a:hover,  h1 > a:active {
    color: white;
    text-decoration: none;
}

footer p {
    color: white;
    font: 1.0em Georgia, serif;
    text-align: left;
}

footer p > a:link, footer p > a:visited {
    color: white;
    text-decoration: none;
}

footer p > a:hover,  footer p > a:active {
    color: white;
    text-decoration: none;
}

div#follow > a:link, div#follow > a:visited {
    color: black;
    text-decoration: none;
}

div#follow > a:hover, div#follow > a:active {
    color: white;
    text-decoration: none;
}

div#follow p {
    line-height: 2.5em;
}


nav.foot p {
    color: white;
    font: 1.0em Georgia, serif;
    line-height: 2.0em;
}

nav.foot > a:link, nav.foot > a:visited {
    color: black;
    text-decoration: none;
}

nav.foot > a:hover,  nav.foot > a:active {
    color: gray;
    text-decoration: none;
}


