@charset "utf-8";

/*  The Unrecruited
    Author: Vincent Nguyen
    Date:   November 30, 2020

    Filename: vn_sports_text.css
*/

/* Media styles */

/*  ==================
    Mobile Styles 0px to 480px
    ================== */

@media only screen and (max-width: 480px) {

}

/*  ==================
    Tablet Styles 481px +
    ================== */

@media only screen and (min-width: 481px) {

}

/*  ==================
    Desktop Styles 796px +
    ================== */

@media only screen and (min-width: 796px) {

}




/* Masthead and header text styles */

div.grid_12 header h1 {
    color: white;
    font: bold 6.0em serif;
    padding-top: 15px;
    text-align: left;
}

h1 > a:link, h1 > a:visited {
    color: white;
    text-decoration: none;
}

h1 > a:hover,  h1 > a:active {
    color: white;
    text-decoration: none;
}

div.grid_9 h2 {
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.0em;
    line-height: 1.5em;
    padding-top: 2px;
    padding-left: 5px;
}

section#pro h2 {
    font-size: 1.5em;
    text-align: center;
    padding: 5px;
}

/* Nav text style */

nav.subscribe li {
    font-family: Georgia, serif;
    font-size: 0.5em;
    line-height: 1.5em;
    text-align: center;
}

nav.subscribe a {
    font-family: Georgia, serif;
    font-size: 1.0em;
    text-align: center;
}

nav.subscribe li > a:link, nav.subscribe li > a:visited {
    color: black;
    text-decoration: none;
}

nav.subscribe li > a:hover,  nav.subscribe li > a:active {
    color: white;
    text-decoration: none;
}

nav.tabs a {
    text-align: center;
}

nav.tabs li > a:link, nav.tabs li > a:visited {
    color: black;
    text-decoration: none;
}

nav.tabs li > a:hover,  nav.tabs li > a:active {
    color: white;
    text-decoration: none;
}

nav.tabs a {
    background-color: rgb(211, 211, 211);
    font-family: Georgia, serif;
    font-size: 1.0em;
    line-height: 1.5em;
    text-align: center;
}

/* Feature and sidebar text styles */


div#feature article {
    color: black;
    background-color: white;
    text-align: center;
    font: bold 3.0em Georgia, serif;
}

div#feature p.sub {
    font-size: 1.5em;
    letter-spacing: 1px;
    text-align: center;
    font-family: 'Palatino Linotype', 'Book Antiqua', 'Palatino', serif;
}

div#feature article > a:link, div#feature article > a:visited {
    color: black;
    text-decoration: none;
}

div#feature article > a:hover,  div#feature article > a:active {
    color: gray;
    text-decoration: none;
}

div#feature article a {
    text-decoration: none;
}

div#side article {
    color: black;
    text-align: center;
    line-height: 1.5em;
    font: bold 1.0em Georgia, serif;
}

div#side > article > p {
    color: rgb(107, 107, 107);
    font-size: 0.75em;
}

div#side1 > article > p {
    color: rgb(107, 107, 107);
    font-size: 0.75em;
}

div#side article > a:link, div#side article > a:visited {
    color: black;
    text-decoration: none;
}

div#side article > a:hover,  div#side article > a:active {
    color: gray;
    text-decoration: none;
}

div#side1 article {
    color: black;
    text-align: center;
    line-height: 1.5em;
    font: bold 1.0em Georgia, serif;
}

div#side1 article > a:link, div#side1 article > a:visited {
    color: black;
    text-decoration: none;
}

div#side1 article > a:hover,  div#side1 article > a:active {
    color: gray;
    text-decoration: none;
}

/* Professional text styles */

div.profeat {
    font: bold 0.85em Georgia, serif;
    text-align: center;
    letter-spacing: 1px;
}

div.profeat > a:link, div.profeat > a:visited {
    color: black;
    text-decoration: none;
}

div.profeat > a:hover,  div.profeat > a:active {
    color: gray;
    text-decoration: none;
}

/* College text */

div.grid_3 h3 {
    font-size: 1.25em;
    padding: 5px;
    text-align: center;
}

div.college p {
    font: bold 0.85em Georgia, serif;
    text-align: center;
    border: 1px solid black;
}

div.college article > a:link, div.college article > a:visited {
    color: black;
    text-decoration: none;
}

div.college article > a:hover,  div.college article > a:active {
    color: gray;
    text-decoration: none;
}

/* Extras text */

div.grid_6 h3 {
    color: white;
    font-size: 1.5em;
}

a > p {
    color: black;
    font: bold 1.0em Georgia, serif;
    text-align: center;
    letter-spacing: 1.0px;
}

div#read > p {
    color: rgb(87, 87, 87);
    font:  1.1em Georgia, serif;
    text-align: left;
}

div#read p  > a:link, div#read p  > a:visited {
    color: black;
    text-decoration: none;
}

div#read p  > a:hover,  div#read p  > a:active {
    color: gray;
    text-decoration: none;
}

/* Footer text */

footer > h1 {
    color: white;
    font: bold 3.0em serif;
    padding-top: 5px;
    text-align: left;
}

h1 > a:link, h1 > a:visited {
    color: white;
    text-decoration: none;
}

h1 > a:hover,  h1 > a:active {
    color: white;
    text-decoration: none;
}

footer p {
    color: white;
    font: 1.0em Georgia, serif;
    text-align: left;
}

footer p > a:link, footer p > a:visited {
    color: white;
    text-decoration: none;
}

footer p > a:hover,  footer p > a:active {
    color: white;
    text-decoration: none;
}

div#follow > a:link, div#follow > a:visited {
    color: black;
    text-decoration: none;
}

div#follow > a:hover, div#follow > a:active {
    color: white;
    text-decoration: none;
}

div#follow p {
    line-height: 2.5em;
}


nav.foot p {
    color: white;
    font: 1.0em Georgia, serif;
    line-height: 2.0em;
}

nav.foot > a:link, nav.foot > a:visited {
    color: black;
    text-decoration: none;
}

nav.foot > a:hover,  nav.foot > a:active {
    color: gray;
    text-decoration: none;
}


